* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    --black: #0c0c0c;
}

a, h1 {
    color: var(--black);
    font-size: 48px;
    text-align: center;
    text-decoration: none;
}

.title {
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
}