* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    --black: #040403;
    --white: #FDFFFC;
    --lightgray: #cacacaee;
    --gray: #cacacacc;
    --gray2: #aaaaaa;
    --red: #A93F55;
    --darkgreen: #007016;
    --darkgreen2: #00811a;

    font-family: 'Arial', sans-serif;
    background-color: var(--black);
}

h1, a, p {
    color: var(--black);
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

.title {
    font-weight: bold;
    padding: 16px;
    letter-spacing: 10px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 5px var(--white);
    height: 580px;
    padding: 20px;
}

form {
    margin-top: 16px;
}

input, .convert-button {
    width: 100%;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

input {
    border: 1px solid var(--gray2);
    height: 48px;
    padding: 0 15px;
    margin-bottom: 20px;
}

.convert-button {
    padding: 15px;
    color: var(--white);
    background-color: var(--darkgreen2);
    margin-top: 10px;
    margin-bottom: 48px;
    transition: all 0.4s;
}

.convert-button:hover {
    cursor: pointer;
    background-color: var(--darkgreen);
    letter-spacing: 1.2px;
}

p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    background-color: var(--gray);
}

.div-select {
    width: 100%;
    overflow: hidden;
}

.currency-selector {
    cursor: pointer;
}

.div-select select {
    border: none;
    border: 1px solid var(--gray2);
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    padding: 13px 20px 13px 12px;
    color: var(--black);
    text-indent: 0.01px;
}

.div-select option:checked {
    background-color: var(--lightgray);
}

.language-selector {
    border: none;
    border: 1px solid var(--gray2);
    border-radius: 8px;
    margin-top: 24px;
    font-size: 16px;
    padding: 12px;
    color: var(--black);
    text-indent: 0.5px;
}

/* Mobile layout */
#mobile {
    display: none;
}

/* Desktop layout */
#desktop {
    display: block;
}

/*Garatindo que o container-content fique alinhado no centro da tela*/
/*Escondendo language selector*/
@media only screen and (max-width: 768px) {
    .container {
        height: 100%;
        width: 100%;
        border-radius: 0px;
    }

    h1 {
        text-indent: -16px;
    }

    .container-content {
        margin-top: 5%;
    }

    .language-selector {
        margin-top: 50px;
    }

    #mobile {
        display: block;
    }

    #desktop {
        display: none;
    }
}